@import "../../../scss/base.scss";

.PageContainer {
  @include default-page-top-padding;
  @include default-page-bottom-padding;
  position: relative;
}

.PageContainer-noTopPadding {
  padding-top: 0;
}

.PageContainer-noBottomPadding {
  padding-bottom: 0;
}
