@font-face {
  font-family: 'Rounded Elegance';
  src: url('../assets/font/RoundedElegance-Regular.eot');
  src: url('../assets/font/RoundedElegance-Regular.woff2') format('woff2'),
      url('../assets/font/RoundedElegance-Regular.woff') format('woff'),
      url('../assets/font/RoundedElegance-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

