@import "../../../scss/base";

.Header-wrapper {
  background: $grey;
  padding-top: 10px;
  padding-bottom: 10px;

  @include md {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.Header {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include md {
    height: 100px;
  }

  @include lg {
    height: 140px;
  }
}

.Header-logoContainer {
  @include flex-basis(50%);

  @include md {
    @include flex-basis(40%)
  }
}

.Header-flagContainer {
  display: flex;
  justify-content: flex-end;

  & .Header-flag {
    svg {
      height: 20px;
    }

    @include md {
      svg {
        height: 25px;
      }
    }

    @include lg {
      svg {
        height: 30px;
      }
    }
  }
}

.Header-iconsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;

  a svg {
    height: 25px;
    margin-top: 2.5px;
  }

  @include md {
    margin-bottom: 0;

    a svg {
      height: 30px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  @include lg {
    a svg {
      height: 40px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  a:nth-child(-n + 2) {
    svg {
      height: 20px;
      margin-top: 2.5px;
    }

    @include md {
      display: none;
    }
  }
}

.Header-logo {
  height: 100%;
  background-size: cover;
  background-position: center center;
}

.Header-contactContainer {
  height: 100%;
  @include flex-basis(40%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include md {
    @include flex-basis(auto)
  }

  svg {
    height: 30px;
  }
}

.Header-contactWrapper {
  display: none;

  @include md {
    display: flex;
    align-items: center;
  }

  svg {
    height: 25px;
    margin-top: 2.5px;
    margin-right: 5px;
  }

  @include lg {
    svg {
      height: 30px;
      margin-top: 2.5px;
    }
  }
}

.Header-mail {
  display: none;

  @include md {
    display: block;
  }
}

.Header-flag {
  margin-left: 20px;

  svg {
    width: 40px;
  }

  @include lg {
    margin-left: 40px;
  }
}
