@import "../../../scss/base";

.Discount-wrapper {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, $white 0%,$blue 62%,$blue 100%);
}

.Discount-button {
  display: flex;
  justify-content: flex-end;
}

.Discount-container {
  align-self: center;
}

.Discount {
  display: flex;
  align-items: center;
}
